---
import "../styles/CTA-h.css";
---
<section class="cta-h-section">
  <div class="cta-h-container">
    <div class="cta-h-left">
      <p class="cta-h-label">● お問い合わせ</p>
      <h2 class="cta-h-title">Contact</h2>
    </div>

    <div class="cta-h-right">
      {/*<p class="cta-h-text">
        〇〇〇<br />〇〇〇〇〇〇
      </p>*/}
      <p class="cta-h-description">
        製品に関するご質問や、多品種小ロットの製造現場における品質担保、省人化、トレーサビリティ対策を目的とした製造、品質検査、搬送の自動化にかかる当社とのPOCをご検討の場合は、以下のお問い合わせフォームよりご連絡ください。担当者より追ってご案内申し上げます。
      </p>
      <a href="/contact" class="cta-h-button">
        お問い合わせする <span>&gt;</span>
      </a>
    </div>
  </div>
</section>