<section class="hero">
    <img
        src="/pictures/home1.png"
        alt="SonicAI"
        class="hero-image"
    >
  <h1>
    多品種小ロット製造の現場の人材不足，品質課題</br>を解決するAIエッジデバイス「SonicAI」の開発<br />
  </h1>

  <p>
    大量生産の製造現場が高度に自動化される一方で、多品種小ロット製造の現場では依然として、製造・搬送・管理など多くの業務プロセスが人手に依存しています。標準化が難しく、人材確保も年々困難となる中で、現場では属人的な判断や作業がボトルネックとなり、品質の安定化やトレーサビリティの確保が極めて困難な状況にあります。</br>
    当社は、こうした構造的な課題に対し、エッジデバイス（ハードウェア）とディープラーニングソフトウェアを一体化した統合型プロダクト「SonicAI」の開発を進めています。リアルタイム性と柔軟性を兼ね備えた本システムは、これまで人に依存していた現場業務を支援・代替することで、現場の省人化・高度化・標準化を実現します。<br>
    中長期的には東南アジアや北米を中心としたグローバル市場へ展開し、日本発の技術で新たな産業創出と製造現場の課題解決に貢献することを目指します
  </p>
</section>
